.table-view {
    -fx-selection-bar: rgba(255, 255, 255, 1);
    -fx-selection-bar-non-focused: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(193, 197, 205, 1) rgba(193, 197, 205, 1) rgba(193, 197, 205, 1) rgba(193, 197, 205, 1);
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-insets: 0px 0px 0px 0px;
}
.table-view .column-header {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-padding: 10px 5px 5px 5px;
    -fx-border-color: rgba(235, 238, 245, 1) rgba(235, 238, 245, 1) rgba(235, 238, 245, 1) rgba(235, 238, 245, 1);
    -fx-border-width: 0px 0.5px 0px 0.5px;
}
.table-view .filler {
    -fx-background-color: rgba(255, 255, 255, 1);
}
.table-view .table-row-cell {
    -fx-border-color: rgba(235, 238, 245, 1) rgba(235, 238, 245, 1) rgba(235, 238, 245, 1) rgba(235, 238, 245, 1);
    -fx-border-width: 0.5px 0px 0.5px 0px;
}
.table-view .table-row-cell:odd {
    -fx-background-color: rgba(250, 250, 250, 1);
}
.table-view .table-row-cell:hover {
    -fx-background-color: rgba(245, 247, 250, 1);
}
.table-view .table-row-cell:selected {
    -fx-background-color: rgba(236, 245, 255, 1);
}
.table-view .table-row-cell:selected .text {
    -fx-fill: rgba(0, 0, 0, 1);
}
.table-view .table-cell {
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 13px;
}
.table-view .table-cell:selected {
    -fx-text-fill: rgba(0, 0, 0, 1);
}
.table-view:focused {
    -fx-border-color: rgba(50, 150, 255, 1) rgba(50, 150, 255, 1) rgba(50, 150, 255, 1) rgba(50, 150, 255, 1);
}
